* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didot', sans-serif;
}

/* Color Variables */
:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

/* Header Styling */
header {
    background-color: var(--primary-color);
    background-image: url(Images/headerImage.jpg);
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.headerMain h2, .headerBlurb p {
    margin: 10px 0;
}

/* Navigation Bar Styling */
.navBar {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
}

.navBar ul {
    list-style: none;
}

.navBar li {
    display: inline;
    margin-right: 20px;
}

.navBar a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 700; /* Bold font for navigation links */
}

/* Section Styling */
section {
    padding: 20px;
    background-color: #a9a7a7;
    color: var(--secondary-color);
}

section h2 {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

/* Grid Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1px;
    padding: 10px 0;
}

.portfolio-card {
    background-color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.portfolio-card img {
    max-width: 100%;
    height: auto;
}

.portfolio-card h3 {
    font-size: 20px;
}

.portfolio-card p {
    margin: 0;
    font-size: 14px;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

/* Footer Styling */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
}