* {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Didot', sans-serif;
}

/* Header Styling */
header {
    background-color: #000000;
    background-image: url(Images/headerImage.jpg);
    color: #eeeeee;
    text-align: center;
    padding: 100px 0;
}

.headerMain h2, .headerBlurb p {
    margin: 10px 0;
}

/* Navigation Bar Styling */
.navBar {
    background-color: #000000;
    color: #eeeeee;
    text-align: center;
    padding: 5px 0;
}

.navBar ul {
    list-style: none;
}

.navBar li {
    display: inline;
    margin-right: 20px;
}

.navBar a {
    color: #eeeeee;
    text-decoration: none;
    font-weight: 700;
}

/* Section Styling */
section {
    padding: 30px ;
}

#about {
    background-color: #101010;
    color: #eeeeee;

    .styled-image{
        width: 200px;
        height: auto;
    }

    .h2{
        color: #eeeeee;
    }
}

/* PORTFOLIO SECTION */
#portfolio {
    background-color: #eeeeee;
    color:#000000;
    
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1px;
        padding: 10px 0;
    }
    
    .portfolio-card {
        background-color: #000000;
        color: #eeeeee;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        transition: transform 0.3s ease;
    }
    
    .portfolio-card img {
        border-radius: 50%;
        width: 100px;
        height: auto;
    }
    
    .portfolio-card h3 {
        font-size: 20px;
    }
    
    .portfolio-card p {
        margin: 0;
        font-size: 14px;
    }
    
    .portfolio-card:hover {
        transform: scale(1.05);
    }
}

#resume {
    background-color: #101010;
    color:#eeeeee
}

#blog {
    background-color: #eeeeee;
    color:#101010;
}

#contact {
    background-color: #4d4c4c;
    color: #ffffff;
}

/* Footer Styling */
footer {
    background-color: #101010;
    color: #eeeeee;
    text-align: center;
    padding: 20px 0;
}